{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4">System Records</h2>

<div class="card shadow p-3">

<table class="table table-hover table-bordered">

<thead class="table-dark">
<tr>
<th>Title</th>
<th>Category</th>
<th>System</th>
<th>Action</th>
<th>Impact</th>
<th>Incident Date</th>
<th>Created By</th>
<th>Created At</th>
<th>Actions</th>
</tr>
</thead>

<tbody>

{% for log in logs %}
<tr>

<td>{{ log['title'] }}</td>

<td>
<span class="badge bg-info">{{ log['category'] }}</span>
</td>

<td>{{ log['system_name'] }}</td>

<td>{{ log['action_type'] }}</td>

<td>
{% if log['impact_level'] == 'high' %}
<span class="badge bg-danger">High</span>
{% elif log['impact_level'] == 'medium' %}
<span class="badge bg-warning text-dark">Medium</span>
{% else %}
<span class="badge bg-success">Low</span>
{% endif %}
</td>

<td>{{ log['incident_date'] or "-" }}</td>

<td>{{ log['created_by'] }}</td>

<td>{{ log['timestamp'] }}</td>

<td>
<a href="/delete/{{ log['id'] }}" class="btn btn-sm btn-danger">Delete</a>
<a href="/edit/{{ log['id'] }}" class="btn btn-sm btn-primary">Edit</a>
</td>

</tr>
{% endfor %}

</tbody>

</table>

</div>

{% endblock %}